<div class="card " style="margin:0px;">
    <div class="card-header" style="text-align:right;">
        <h3 class="card-title">{{Title}}</h3>

        <button type="button" class="btn btn-tool btn-sm" ng-click="cancel()">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form class="form-horizontal">
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">调度器名称</label>
                <div class="col-sm-4">
                    <input class="form-control" id="inputEmail3" ng-model="JobInfo.SchedName" placeholder="请输入调度器名称">
                </div>
                <label for="inputPassword3" class="col-sm-2 col-form-label">作业名称</label>
                <div class="col-sm-4">
                    <input class="form-control" id="inputPassword3" ng-model="JobInfo.JobName" placeholder="请输入作业名称">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">时间表达式</label>
                <div class="col-sm-10">
                    <input class="form-control" id="inputEmail3" ng-model="JobInfo.Cron" placeholder="请输入时间表单式">
                </div>

            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">间隔时间(秒)</label>
                <div class="col-sm-10">
                    <input class="form-control" id="inputPassword3" ng-model="JobInfo.Second" placeholder="间隔时间只有在没有设置时间表达式时才会起效，否则会以时间表达式时为准">
                </div>

            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">程序集</label>
                <div class="col-sm-10">
                    <input class="form-control" id="inputEmail3" ng-model="JobInfo.AssemblyPath" placeholder="请输入程序集的物理路径(含文件名，扩展名)">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">实体类型</label>
                <div class="col-sm-10">
                    <input class="form-control" id="inputPassword3" ng-model="JobInfo.ClassType" placeholder="请输入实体类型的完全限定名(命名控件.类名)">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-success collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title"> 时间表达式示例</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" style="display: none;">
                            标准格式为六位：从左至右依次为“秒 分 时 日 月 周” (中间均为1个空格)<br>
                            0/5 * * * * ? *     每分钟的0秒,5秒,10秒...55秒执行.<br>
                            0 0 11 * * ? *     每天11点0分0秒执行<br>
                            4 3 2 1 * ? *     每月1号2点3分4秒执行
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>



        <!-- /.card-body -->
        <div class="card-footer">
            <button class="btn btn-info float-right" ng-bind="Button_OK_Text" ng-click="ok()">保存</button>
            <button class="btn btn-default float-right margin-right-1rem" ng-click="cancel()">取消</button>
        </div>


        <!-- /.card-footer -->
    </form>
</div>