<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title" ng-click="aalert()">任务调度信息</h3>
    </div>
    <div>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="card-toolbar" style="text-align:right;margin-bottom:0.2rem;">
            <ul class="nav nav-pills ml-auto p-2">
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link btn-success" ng-click="AddJobInfo()" style="cursor:pointer; height:31px;line-height:31px;padding:0 0.5rem;margin-right:0.5rem;" >新增</a></li>
                <li class="nav-item">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default" ng-click="LoadJobInfo()"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </li>
               
            </ul>

           
        </div>
        <table id="example" class="table table-striped table-bordered" style="width:100%;font-size:0.4rem;">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>调度器名称</th>
                    <th>作业名称</th>
                    <th>时间表达式</th>
                    <th>时间间隔(秒)</th>
                    <th>程序集</th>
                    <th>状态</th>
                    <th>开始时间</th>
                    <th>上次执行</th>
                    <th>下次执行</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tr ng-repeat="job in JobInfo">
                <td>{{$index}}</td>
                <td>{{job.SchedName}}</td>
                <td>{{job.JobName}}</td>
                <td>{{job.Cron}}</td>
                <td>{{job.Second}}</td>
                <td>{{}}</td>
                <td>{{job.TRIGGER_STATE}}</td>
                <td>{{job.START_TIME}}</td>
                <td>{{job.PREV_FIRE_TIME}}</td>
                <td>{{job.NEXT_FIRE_TIME}}</td>
                <td>
                    <a href="javascript:void(0)" style="color:green" ng-if="!job.TRIGGER_STATE" ng-click="RunJob({{job}})">启动</a>
                    <a href="javascript:void(0)" style="color:coral" ng-if="!job.TRIGGER_STATE" ng-click="EditJobInfo({{job}})">编辑</a>
                    <a href="javascript:void(0)" style="color:red" ng-if="!job.TRIGGER_STATE" ng-click="DeleteJobInfo({{job.Id}})">删除</a>
                   
                    <div ng-if="job.TRIGGER_STATE=='PAUSED'">
                        <a href="javascript:void(0)" style="color:darkseagreen"  ng-click="ResumeJob({{job}})">恢复</a>
                        <a href="javascript:void(0)" style="color:red" ng-click="RemoveJob({{job}})">停止</a>
                    </div>
                    <div ng-if="job.TRIGGER_STATE=='ACQUIRED'||job.TRIGGER_STATE=='WAITING'">
                        <a href="javascript:void(0)" style="color:orange" ng-click="PauseJobInfo({{job}})">暂停</a>
                    </div>
                    
                    
                </td>
            </tr>
        </table>
    </div>
</div>
